<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
  <targets async="true">
    <target name="elastic" xsi:type="ElasticSearch" index="${configsetting:LogIndex}" uri="${configsetting:ElasticSearchUrl}">
      <field name="traceId" layout="${aspnet-TraceIdentifier}" />
      <field name="logger" layout="${logger}" />
      <field name="machinename" layout="${machinename}" />
      <field name="hostname" layout="${hostname}" />
      <field name="message" layout="${message}" />
      <field name="exception" layout="${exception:format=ToString,StackTrace}" />
      <field name="user-identity" layout="${aspnet-user-identity}" />
      <field name="client-ip" layout="${aspnet-request-ip:CheckForwardedForHeader=true}" />
      <field name="requestId" layout="${mdlc:requestId}" />
      <field name="eventId" layout="${event-properties:EventID}" />
    </target>
  </targets>
  <target name="console" xsi:type="Console" />
  <rules>
    <logger name="*" minlevel="Debug" writeTo="elastic" />
    <logger name="*" minlevel="Error" writeTo="console" />
  </rules>
</nlog>